* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #023061; 
  
}

.topnav {
  overflow: hidden;
  background-color: #023061;
  height: 90px;
}
.navmenu{
	background: #f6c10b;
    height: 46px;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: none;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
  height: 30px;
}
.btn-login{
	border: none;
	color: #f6c10b;
	background-color: #f5f5f5;
	height: 30px;
	width: 100px;
}
.btn-login:hover{
	background-color: grey;
}
.btn-more{
  border: none;
  color:#f5f5f5;
  background-color: #f6c10b;
  height: 30px;
  width: 100px;
}
.btn-more:hover{
  background-color: grey;
}
.btn-logins{
  border: none;
  color: #f6c10b;
  background: none;
  height: 30px;
  width: 100px;
}
.btn-logins:hover{
  background-color: none;
}
.btn-join{
  border: none;
  color: #f5f5f5;
  background-color: #f6c10b;
  height: 30px;
  width: 100px;
}
.btn-join:hover{
  background-color: grey;
}

.logo-img{
	
	float: left;
}

.navbar-brand {
  padding: 0px;
 
}

.navtop {
  position: relative;
  overflow: hidden;
}
.colors {
	color: white;
	font-size: 15px;
}
.colors a:hover{
	text-decoration: none;
	 background-color: yellow;
}
.icons{
	padding-right: 12px;
	margin:center;
	justify-content: center;
}
.poday{
	color: white;
  padding-left: 125px; 
  font-size: 14px;

}
.itlog{
	color: white;
}
.dropbtn {
  background-color: #f6c10b;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  height: 45px;
  cursor: pointer; 
}

.dropdowns {
  position: relative;
  display: inline-block;
}

.dropdowns-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 4000%;
  border-left-width: 4000%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left-width: 4000%;
}

.dropdowns-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdowns-content a:hover {background-color: #ddd;}

.dropdowns:hover .dropdowns-content {display: block;}

.dropdowns:hover .dropbtn {background-color: #777;}

.logo-image{
    width: 200px;
    height: 136px;
    overflow: hidden;
    margin-top: -45px;  
    margin-right: -40px;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
.poks{
  margin-top: 20px; 
  margin-right: -175px;
}
.top-bars{
  left: 0;
  top: 0;
  float: left;
  width:100%;
  height:40px;
  background-color: black;
}

.rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: absolute;
    top: 0;
    left: 0;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.carousel{
    background: #2f4357;
    margin-top: -16px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.smile{
  background-color: #3e3e3e;
  text-align: center;
  margin-top: -16px;
  color: white;
}
.third{
    background-color: #20221d;
    height: 130px;
    width: 100%;
    position: absolute;
    left: 0;
}
.smug{
    height: 100px;
    font-size: 92px;
    line-height: 116px;
    margin-right: 2px;
    color: #55bee4;
    font-weight: 900;
}
.smugs{
    height: 100px;
    font-size: 92px;
    margin-left: 58px;
    color: #55bee4;
    font-size: 35px;
    line-height: 25px;
    margin-top: -77px;
}
.niga{
    display: flex;
    width: 240px;
    margin-right: 10px;
}
.suga{
  display: flex;
    width: 100%;
    height: 90px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}
.kabaw{
  margin-left: 0;
    padding: 20px 0;
    background-color: #20221d;
}
.dafaq{
    height: 100px;
    font-size: 14px;
    margin-left: 63px;
    color: white;
    line-height: 20px;
    margin-top: -62px;
}
.dafaqs{
    height: 100px;
    font-size: 14px;
    margin-left: 51px;
    color: white;
    line-height: 20px;
    margin-top: -62px;
}
.damn{
    background-color: #20221d;
    height: 130px;
    width: 100%;
    position: absolute;
    left: 0;
}
.hala{
    margin-left: 0;
    padding: 20px 0;
    background-color: #20221d;
}
.manok{
   line-height: 35px;
    width: 300px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
    color: white;
}
.dabest{
  font-size: 12px;
  color: #55bee4;
}
.foots{
  display: table-cell;
  padding-right: 5px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}